[Unit]
Description=Check GOAT for new products every six hours

[Timer]
OnCalendar=*-*-* 00,06,12,18:00:00 UTC
Persistent=true
RandomizedDelaySec=120
Unit=slds-parser-goat-discovery.service

[Install]
WantedBy=timers.target
