[Unit]
Description=Refresh Shihuo WireGuard handshakes

[Timer]
OnBootSec=10sec
OnUnitActiveSec=10sec
Unit=slds-shihuo-wireguard-reconcile.service

[Install]
WantedBy=timers.target
